.more-button {
	position: absolute;
	left: 10px;
	top: 200px;
	transform: translateY(-50%);
	background-color: rgb(var(--dark-rgb));
	border: none;
	padding: 10px;
	border-radius: 50%;
	cursor: url('../assets/mouse/cursor_Miku-1/miku2.cur'), auto;
	z-index: 10000;
	transition: background-color 0.3s;
}
.more-button img {
	width: 30px;
	height: 30px;
	rotate: 90deg;
}
.more-button:hover {
	background-color: rgb(var(--dark-skyblue-rgb));
}

.moreOptions {
	position: absolute;
    left: 65px;
    top: 150px;
    transform: translateY(-50%);
    background-color: rgb(var(--dark-rgb));
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: url(../assets/mouse/cursor_Miku-1/miku2.cur), auto;
    z-index: 10000;
    transition: background-color 0.3s;
}