.results {
	padding: 20px;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
	align-items: center;
}

.result-item {
	margin-bottom: 20px;
    padding: 5px 15px 5px 15px;
    background-color: rgb(var(--light-rgb));
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 250px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-height: 300px;
}

.socialresults {
	display: flex;
    justify-content: flex-end;
    position: relative;
    width: -webkit-fill-available;
    align-items: center;
    flex-direction: row;
}

.result-item img {
	max-width: 80px;
	border-radius: 8px;
	height: 125px;
}

.result-item h2 {
	margin: 0;
	font-size: small;
	text-align: center;
}

.result-item p {
	margin: 5px 0;
	text-align: center;
}

.pagination-button {
	padding: 10px 15px;
	margin: 2px;
	border: none;
	background-color: rgb(var(--light-rgb));
	color: rgb(var(--dark-rgb));
	border-radius: 5px;
	transition: background-color 0.3s ease, color 0.3s ease;
	cursor: url('../assets/cursor/miku2.cur'), auto;
  }

.pagination-button:hover {
	background-color: rgb(var(--dark-rgb));
	color: rgb(var(--light-rgb));
	cursor: url('../assets/cursor/miku2.cur'), auto;
} 

.pagination-button.active {
	padding: 10px 15px;
	margin: 2px;
	border: 1px solid rgb(var(--light-rgb));
	background-color: rgb(var(--light-skyblue-rgb));
	color: rgb(var(--light-rgb));
	border-radius: 5px;
	transition: background-color 0.3s ease, color 0.3s ease;
	cursor: url('../assets/cursor/miku2.cur'), auto;
	font-weight: bold;
  }

.pagination-button.active:hover {
	background-color: rgb(var(--dark-skyblue-rgb));
	cursor: url('../assets/cursor/miku2.cur'), auto;
} 