            .paginationButton {
                margin: 20px 0;
              }
            .paginationButton button {
                padding: 10px 15px;
                margin: 0 5px;
                border: none;
                background-color: rgb(var(--dark-rgb));
                color: rgb(var(--light-rgb));
                border-radius: 5px;
                transition: background-color 0.3s;
                cursor: url('../assets/cursor/miku2.cur'), auto;
              }
            .paginationButton button:hover {
                background-color: rgb(var(--dark-skyblue-rgb));
                cursor: url('../assets/cursor/miku2.cur'), auto;
            } 
            .container {
                text-align: center;
            }