.carousell {
    position: relative;
    max-width: 100%;
    margin: 0px;
    overflow: hidden;
    background-color: rgb(var(--light-rgb));
    box-shadow: 0px 0px 4px 4px rgb(0 0 0 / 36%);
}

.carousell-inner {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.carousell-item {
    width: 120px;
	height: 180px;
    box-sizing: border-box;
    text-align: center;
}

.carousell-item img {
    width: 120px;
    height: 180px;
	max-width: 120px;
    max-height: 180px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    cursor: url(../assets/cursor/miku2.cur), auto;
	transition: ease-in-out 0.1s;
}

.carousell-item img:hover {
    box-shadow: 0px 0px 4px 4px rgb(0 0 0 / 36%);
	transform: scale(1.1);
}

.carousell-item h3 {
    margin-top: 10px;
    font-size: 16px;
    color: rgb(var(--dark-rgb));
	text-decoration: none;
}

.carousell-item-2 {
    width: 230px;
	height: 350px;
    box-sizing: border-box;
    text-align: center;
	margin: 5px;
}

.carousell-item-2 img {
    width: 230px;
    height: 350px;
    max-width: 230px;
    max-height: 350px;
    box-shadow: 0px 0px 0px 1px rgb(0 0 0);
    cursor: url(../assets/cursor/miku2.cur), auto;
	transition: ease-in-out 0.1s;
}

.carousell-item-2 img:hover {
    box-shadow: 0px 0px 4px 1px rgb(var(--dark-skyblue-rgb));
	transform: scale(1.01);
}

.carousell-item-2 h3 {
    margin-top: 10px;
    font-size: 16px;
    color: rgb(var(--dark-rgb));
	text-decoration: none;
}

.carousell-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(var(--dark-rgb));
    border-color: transparent;
	border: 1px solid rgb(0 0 0 / 0%);
    color: rgb(var(--light-rgb));
	cursor: url(../assets/cursor/miku2.cur), auto;
    padding: 1px;
    border-radius: 50%;
    z-index: 2;
}

.carousell-control img {
    width: 25px;
	height: 25px;
}

.carousell-control.prev {
    left: 200px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousell-control.next {
    right: 200px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .carousell-item, .carousell-item-2 {
        width: 100px;
        height: 150px;
    }

    .carousell-item img, .carousell-item-2 img {
        width: 100px;
        height: 150px;
    }

    .carousell-control.prev {
        left: 20px;
    }

    .carousell-control.next {
        right: 20px;
    }
	
	.carousell-control img {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 768px) {
    .carousell-item, .carousell-item-2 {
        width: 90px;
        height: 135px;
    }

    .carousell-item img, .carousell-item-2 img {
        width: 90px;
        height: 135px;
    }

    carousell-control {
        width: 30px;
        height: 30px;
    }

    .carousell-control img {
        width: 18px;
        height: 18px;
    }

    .carousell-control.prev {
        left: 15px;
    }

    .carousell-control.next {
        right: 15px;
    }
}

@media (max-width: 480px) {
    .carousell-item, .carousell-item-2 {
        width: 80px;
        height: 120px;
    }

    .carousell-item img, .carousell-item-2 img {
        width: 80px;
        height: 120px;
    }

    .carousell-control {
        width: 25px;
        height: 25px;
    }

    .carousell-control img {
        width: 15px;
        height: 15px;
    }

    .carousell-control.prev {
        left: 10px;
    }

    .carousell-control.next {
        right: 10px;
    }
}
