.filter-button {
	position: absolute;
	left: 25px;
	top: 182px;
	transform: translateY(-50%);
	background-color: rgb(var(--dark-rgb));
	border: none;
	padding: 10px;
	border-radius: 50%;
	cursor: url('../assets/mouse/cursor_Miku-1/miku2.cur'), auto;
	z-index: 6;
	transition: background-color 0.3s;
}
.filter-button img {
	width: 25px;
	height: 25px;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}
.filter-button:hover {
	background-color: rgb(var(--dark-skyblue-rgb));
}

.filterForm {
    display: grid;
    /*flex-wrap: wrap;
    justify-content: space-between;*/
    padding-bottom: 10px;
    background-color: rgb(var(--light-rgb));
    border-bottom: 1px solid rgb(var(--dark-rgb));
    /*margin-bottom: 20px;*/
    border-bottom-style: dashed;
}

.filterLabel {
    margin-right: 10px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0px;
}

.filterSelect {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: url('../assets/mouse/cursor_Miku-1/miku2.cur'), auto;
}

.filterOption {
    cursor: url('../assets/mouse/cursor_Miku-1/miku2.cur'), auto;
}

.filter-menu {
	display: none;
	position: absolute;
	left: 50px;
	top: 370px;
	transform: translateY(-50%);
	background-color: rgb(var(--light-rgb));
	border: 1px solid rgb(var(--light-rgb));
	padding: 20px;
	box-shadow: 0px 0px 4px 4px rgb(0 0 0 / 36%);
	border-radius: 10px;
	z-index: 5;
	width: min-content;
}

.filterOptionButton {
	display: block;
	width: 100%;
	padding: 10px;
	background-color: rgb(var(--dark-rgb));
	transition: background-color 0.3s;
	color: rgb(var(--light-rgb));
	border: none;
	border-radius: 5px;
	cursor: url('../assets/mouse/cursor_Miku-1/miku2.cur'), auto;
	margin-top: 10px;
}
.filterOptionButton:hover {
    background-color: rgb(var(--dark-skyblue-rgb));
	transition: background-color 0.3s;
}

.resetOptionButton {
    display: block;
	width: 100%;
	padding: 10px;
	background-color: #6c757d;
	transition: background-color 0.3s;
	color: rgb(var(--light-rgb));
	border: none;
	border-radius: 5px;
	cursor: url('../assets/mouse/cursor_Miku-1/miku2.cur'), auto;
	margin-top: 10px;
}
.resetOptionButton:hover {
    background-color: red;
	transition: background-color 0.3s;
}