            .filter-button {
                position: absolute;
                left: 65px;
                top: 200px;
                transform: translateY(-50%);
                background-color: rgb(var(--dark-rgb));
                border: none;
                padding: 10px;
                border-radius: 50%;
                cursor: url('../assets/mouse/cursor_Miku-1/miku2.cur'), auto;
                z-index: 10000;
                transition: background-color 0.3s;
            }
            .filter-button img {
                width: 20px;
                height: 20px;
            }
.filter-button:hover {
                background-color: rgb(var(--dark-skyblue-rgb));
            }

#filterForm {
    display: grid;
    /*flex-wrap: wrap;
    justify-content: space-between;*/
    padding-bottom: 10px;
    background-color: rgb(var(--light-rgb));
    border-bottom: 1px solid rgb(var(--dark-rgb));
    /*margin-bottom: 20px;*/
    border-bottom-style: dashed;
}

#filterForm label {
    margin-right: 10px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0px;
}

#filterForm select {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid rgb(var(--dark-rgb));
    border-radius: 5px;
    background-color: rgb(var(--light-rgb));
    cursor: url('../assets/mouse/cursor_Miku-1/miku2.cur'), auto;
}

#filterForm option {
    cursor: url('../assets/mouse/cursor_Miku-1/miku2.cur'), auto;
}

#filterForm button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(var(--dark-rgb));
    color: rgb(var(--light-rgb));
    cursor: url('../assets/mouse/cursor_Miku-1/miku2.cur'), auto;
}

#filterForm button:hover {
    background-color: rgb(var(--dark-skyblue-rgb));
}

#filterForm #resetButton {
    background-color: #6c757d;
}

#filterForm #resetButton:hover {
    background-color: red;
}
            .filter-menu {
                display: none;
                position: absolute;
                left: 125px;
                top: 503px;
                transform: translateY(-50%);
                background-color: rgb(var(--light-rgb));
                border: 1px solid rgb(var(--light-rgb));
                padding: 20px;
                box-shadow: 0px 0px 4px 4px rgb(0 0 0 / 36%);
                border-radius: 10px;
                z-index: 10000;
		width: min-content;
            }
            .filter-menu button {
                display: block;
                width: 100%;
                padding: 10px;
                background-color: rgb(var(--dark-skyblue-rgb));
                color: rgb(var(--light-rgb));
                border: none;
                border-radius: 5px;
                cursor: url('../assets/mouse/cursor_Miku-1/miku2.cur'), auto;
                margin-top: 10px;
            }