            .headertop {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: rgb(var(--dark-rgb));
                padding: 10px 20px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                width: -webkit-fill-available;
                z-index: 2;
                top: 0;
                right: 0;
            }
            .menu-icon {
                cursor: url('../assets/mouse/cursor_Miku-1/miku2.cur'), auto;
                padding-right: 10px;
            }
            .sidebar {
                position: fixed;
                top: 0;
                right: -300px;
                width: 250px;
                height: 100%;
                background-color: rgb(var(--dark-rgb));
                transition: right 0.3s ease;
                padding: 20px;
                box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
                z-index: 3;
            }
            .sidebar.open {
                right: 0;
            }
            .sidebar h2 {
                color: rgb(var(--light-rgb));
                margin-bottom: 20px;
            }
            .sidebar ul {
                list-style: none;
                padding: 0;
                cursor: url('../assets/mouse/cursor_Miku-1/miku2.cur');
            }
            .sidebar ul li {
                padding: 10px 0;
                border-bottom: 1px solid rgb(var(--light-rgb));
            }
            .sidebar ul li a {
                color: rgb(var(--light-rgb));
                text-decoration: none;
                display: flex;
                align-items: center;
            }
            .sidebar ul li a img {
                margin-right: 10px;
            }
            .sidebar .close-btn {
                position: absolute;
                top: 24px;
                right: 35px;
                cursor: url('../assets/mouse/cursor_Miku-1/miku2.cur'), auto;
            }
            main {
                max-width: 800px;
                margin: 20px auto;
                padding: 0 20px;
            }
            p {
                line-height: 1.6;
            }