.headertop {
	display: flex;
	position: absolute;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(var(--dark-rgb));
	padding: 10px 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: -webkit-fill-available;
	z-index: 2;
	top: 0;
	right: 0;
}
.headertop img:hover{
cursor: url('../assets/cursor/miku2.cur'), auto;
}
.menu-icon {
	cursor: url('../assets/cursor/miku2.cur'), auto;
	padding-right: 10px;
}

.menu-icon img {
	border: thin;
	border-color: rgb(var(--light-rgb));
	border-style: solid;
	border-radius: 5px;
	height: 40px;
}

.sidebar {
	position: fixed;
	top: 0;
	left: -300px;
	width: 250px;
	height: 100%;
	background-color: rgb(var(--dark-rgb));
	transition: left 0.3s ease;
	padding: 20px;
	box-shadow: 2px 0 10px rgb(255 255 255 / 50%);
	z-index: 8;
}
.sidebar.open {
	left: 0px;
}
.sidebar h2 {
	color: rgb(var(--light-rgb));
	margin-bottom: 20px;
}
.sidebar ul {
	list-style: none;
	padding: 0px;
	margin-top: 20px;
}
.sidebar ul li {
	padding: 10px 0;
	border-bottom: 1px solid rgb(var(--light-rgb));
}

.hitbox {
	width: 24px;
	height: 24px;
    display: flex;
}

.sidebar ul li a {
	color: rgb(var(--light-rgb));
	text-decoration: none;
	display: flex;
	align-items: center;
}
.sidebar ul li a img {
	margin-right: 10px;
}
.sidebar .close-btn {
	position: absolute;
	top: 12px;
	/*right: 30px;*/
	cursor: url('../assets/cursor/miku2.cur'), auto;
}
.sidebar ul li a:hover {
	background-color: rgb(var(--dark-skyblue-rgb));
	color: rgb(var(--dark-rgb));
	border-color: rgb(var(--light-skyblue-rgb));
	cursor: url('../assets/cursor/miku2.cur'), auto;
}
.bgblur {
	background-color: rgb(13 120 126 / 50%);
    position: fixed;
    left: 0px;
    top: 0px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    z-index: 2;
    filter: blur(1px);
}
main {
	max-width: 800px;
	margin: 20px auto;
	padding: 0 20px;
}
p {
	line-height: 1.6;
}