:root {
--glow-rgb: 245 245 245;
--light-skyblue-rgb: 51 228 249;
--dark-skyblue-rgb: 13 120 126;
--primary-stripe-rgb: 230 230 230;
--secondary-stripe-rgb: 240 240 240;
--dark-rgb: 0 0 0;
--light-rgb: 255 255 255;
--dark-red-rgb:204 27 6;
--light-red-rgb: 242 135 129;
}