/* Estilo general para la página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

/* Estilo para el encabezado */
header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 5px 0 0;
}

/* Estilo para el contenedor de tablas */
#tables-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    right: 0px;
    top: 50px;
    position: relative;
    flex-wrap: wrap;
}

/* Estilo para las tablas */
table {
    width: 100%;
    max-width: 1200px;
    border-collapse: collapse;
    margin: 20px 0;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background: #f4f4f4;
    color: #333;
}

tr:nth-child(even) {
    background: #f9f9f9;
}

tr:hover {
    background: #baf9ff;
	cursor: default;
}

/* Estilo para los encabezados de las tablas */
thead th {
    background: #333;
    color: #fff;
}

tbody td {
    font-size: 1em;
}

/* Estilo para el pie de página */
footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
