#toBottomBtn {
    display: block;
    position: absolute;
    top: 68px;
    right: 0px;
    background-color: rgb(var(--dark-rgb));
    color: rgb(var(--light-rgb));
    padding: 5px;
    border-radius: 10px;
    cursor: url('../assets/mouse/cursor_Miku-1/miku2.cur'), auto;
    z-index: 2;
    transition: background-color 0.3s;
    border-left-color: rgb(var(--light-skyblue-rgb));
    border-left-width: thick;
    border-block: none;
    align-items: center;
}

#toBottomBtn:hover {
    background-color: rgb(var(--dark-skyblue-rgb));
}

#toBottomBtn img {
    width: 30px;
    height: 30px;
	rotate: 180deg;
}