.panel {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 auto;
}

.panel-left {
    width: 75%;
    max-width: 100%;
    height: 40em;
    max-height: 100%;
}

.panel-right {
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    max-height: 100%;
}

.panel-ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
    padding: 5px 0;
}

.panel-li {
    list-style-type: none;
    width: fit-content;
    padding-right: 5px;
}

.panel-a {
    margin: 0;
    padding: 5px;
    font-size: smaller;
    text-decoration: none;
    color: #ddd;
    transition: linear 0.2s;
	font-weight: lighter;
	font-variant: all-small-caps;
}

.panel-a:hover {
    color: #ff7518;/*rgb(var(--light-skyblue-rgb));;*/
}

.panel-a.active {
    font-weight: bolder;
    margin: 0;
    padding: 5px;
    font-size: smaller;
    border-bottom: solid 3px #ff7518;/*rgb(var(--dark-skyblue-rgb));*/
    text-decoration: none;
    color: #ff7518;/*rgb(var(--dark-skyblue-rgb));*/
	font-variant: normal;
	text-transform: uppercase;
}

.panel-a:first-letter {
    font-weight: 700;
}

.panel-a-link {
    color: #ff7518;/*rgb(var(--dark-skyblue-rgb));*/
    text-decoration: none;
}

.panel-title {
    font-weight: 100;
    margin: 0;
    padding: 4px 0 0 0;
}

.panel-title:first-letter {
    font-weight: 700;
}

.panel-border {
    border-top: solid 2px;
    border-top-color: #ff7518;/*rgb(var(--light-skyblue-rgb));*/
    background: rgb(var(--light-rgb));
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 590px;
}

.panel-bg {
    background: rgb(var(--light-rgb));
    max-height: 590px;
	width: -webkit-fill-available;
}

.panel-tab {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.panel-tabs {
    background: rgb(var(--light-rgb));
}

.panel-tab-content {
    display: none;
}

.panel-tab-content.active {
    height: fit-content;
    width: 240px;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0 0 0;
}

.panel-tab-content-a {
    height: 110px;
    width: 230px;
    margin: 0;
    padding: 0;
}

.panel-tab-content-img {
    height: 110px;
    width: 230px;
}

.litext {
    font-size: smaller;
    text-align: justify;
	margin: 0 2px 0 2px;
}

.h5text {
    color: #ff7518;/*rgb(var(--dark-skyblue-rgb));*/
    margin-top: 2px;
	margin: 2px 2px 0 2px;
}

.panel-hr {
    margin: 5px 0;
}

/* Contenedor principal de las columnas */
.columns-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;  /* Espacio entre columnas */
}

/* Estilos de cada columna de novelas */
.novel-column {
    flex: 1;  /* Cada columna ocupará un espacio igual */
    width: 300px;  /* Tamaño mínimo de cada columna */
	max-height: -webkit-fill-available;
}


@media (max-width: 1024px) {
    .panel {
        width: 80%;
        flex-direction: row;
    }

    .panel-left {
		width: 65%;
	}
	
	.panel-right {
        width: fit-content;
    }
}

@media (max-width: 768px) {
    .panel {
        margin: 10px;
		width: 75%;
		display: flex;
		justify-content: center;
    }

    .panel-tab-content {
        width: 100%;
        height: auto;
    }

    .panel-tab-content-img {
        width: 100%;
        height: auto;
    }
	
	.panel-left {
		width: 60%;
	}
}

@media (max-width: 480px) {
    .panel-left, .panel-right {
        width: -webkit-fill-available;
        height: fit-content;
        margin-bottom: 10px;
    }

    .panel-ul {
        flex-direction: row;
        display: flex;
        justify-content: center;
    }

    .panel-tab-content-img {
        width: 100%;
        height: auto;
    }
}
